@model GeneratePageModel

<div class="d-flex flex-column h-100">
    <div class="row g-0 flex-grow-1">
        <!-- Parameter Sidebar -->
        <div class="col-md-3 border-end">
            <div class="p-3 h-100 d-flex flex-column">
                <ul class="nav nav-tabs swarm-gen-tab-subnav" data-title="Left Sidebar" data-content="inputsidebartab_content" role="tablist" id="inputsidebartabcollection">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active translate" data-bs-toggle="tab" href="#Input-Sidebar-Main-Tab" aria-selected="true" role="tab">Inputs</a>
                    </li>
                </ul>
                <div class="tab-content flex-grow-1" id="inputsidebartab_content">
                    <div class="tab-pane show active genpage-bottom-tab h-100" id="Input-Sidebar-Main-Tab" role="tabpanel">
                        <div class="main_inputs_area_wrapper" id="main_inputs_area_wrapper">
                            <div class="input_filter_container p-2">
                                <div class="input-group">
                                    <input type="text" class="form-control auto-text" id="main_inputs_filter" oninput="hideUnsupportableParams()" placeholder="Filter parameters..." />
                                    <button class="btn btn-outline-secondary" type="button" id="clear_input_icon" onclick="clearParamFilterInput()">&#x2715;</button>
                                </div>
                            </div>
                            <div id="main_inputs_area"></div>
                            <div id="main_inputs_area_hidden" class="main_inputs_area_hidden"></div>
                        </div>
                        <div class="advanced_input_checkbox form-check text-center mt-auto p-2">
                            <input class="form-check-input" type="checkbox" id="advanced_options_checkbox" onclick="toggle_advanced()"/>
                            <label class="form-check-label" for="advanced_options_checkbox" onclick="toggle_advanced_checkbox_manual()"><span class="translate">Display Advanced Options?</span> <span id="advanced_hidden_count"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content Area -->
        <div class="col-md-9 d-flex flex-column">
            <div class="row g-0 flex-grow-1">
                <!-- Image Result -->
                <div class="col-md-8 border-end">
                    <div class="d-flex flex-column h-100">
                        <ul class="nav nav-tabs swarm-gen-tab-subnav" data-title="Center Area" data-content="currentimagecontent" role="tablist" id="currentimagecollection">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active translate" data-bs-toggle="tab" href="#Image-Result-Tab" aria-selected="true" role="tab">Image</a>
                            </li>
                        </ul>
                        <div class="tab-content flex-grow-1" id="currentimagecontent">
                            <div class="tab-pane show active genpage-bottom-tab h-100" id="Image-Result-Tab" role="tabpanel">
                                <div class="image_editor_input" id="image_editor_input" style="display:none;"></div>
                                <div class="current_image drag_image_target" id="current_image">
                                    <div id="welcome_message" class="welcome_message">@(new HtmlString(Program.VersionUpdateMessage ?? (Program.ServerSettings.ShowExperimentalFeatures ? "Experimental Features are enabled. Issue reports will not be accepted." : Program.ServerSettings.UI.OverrideWelcomeMessage)))</div>
                                </div>
                            </div>
                            <div id="extra_welcome_message">@(new HtmlString(Program.ServerSettings.UI.ExtraWelcomeInfo))</div>
                        </div>
                        <!-- Prompt Bar -->
                        <div class="alt_prompt_region drag_image_target border-top p-2" id="alt_prompt_region">
                            <div id="alt_prompt_extra_area" class="alt_prompt_extra_area">
                                <button class="btn btn-sm btn-danger image-clear-button translate" style="display: none;" id="alt_prompt_image_clear_button">Clear Images</button>
                                <div class="added-image-area alt-prompt-added-image-area" id="alt_prompt_image_area"></div>
                            </div>
                            <div class="alt_prompt_main_line input-group">
                                <button class="btn btn-primary alt-text-add-button" id="alt_text_add_button">+</button>
                                <textarea id="alt_prompt_textbox" class="form-control alt_prompt_textbox translate" rows="1" placeholder="Type your prompt here... (or, drag/paste an image in to use Image Prompting)" onpaste="imagePromptImagePaste(arguments[0])"></textarea>
                                <textarea id="alt_negativeprompt_textbox" class="form-control alt_prompt_textbox translate" rows="1" placeholder="Optionally, type a negative prompt here..."></textarea>
                                <button class="btn btn-success alt-prompt-generate-button translate" id="alt_generate_button" oncontextmenu="doPopover('generate'); return false;" onclick="mainGenHandler.doGenerateButton(event)">Generate</button>
                                <button class="btn btn-secondary alt-prompt-center-button" id="alt_center_button" oncontextmenu="doPopover('generate_center'); return false;" onclick="doPopover('generate_center')">&#x2B9F;</button>
                                <button class="btn btn-danger alt-interrupt" id="alt_interrupt_button" oncontextmenu="doPopover('interrupt'); return false;" onclick="mainGenHandler.doInterrupt()">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Batch Sidebar -->
                <div class="col-md-4">
                    <div class="d-flex flex-column h-100">
                        <ul class="nav nav-tabs swarm-gen-tab-subnav" data-title="Right Sidebar" data-content="rightsidebarcontent" role="tablist" id="rightsidebarcollection">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active translate" data-bs-toggle="tab" href="#Image-Batch-Tab" aria-selected="true" role="tab">Batch</a>
                            </li>
                        </ul>
                        <div class="tab-content flex-grow-1" id="rightsidebarcontent">
                            <div class="tab-pane show active genpage-bottom-tab h-100" id="Image-Batch-Tab" role="tabpanel">
                                <div class="position-relative">
                                    <button class="btn btn-sm batch-gear-button" onclick="doPopover('batchgear')">&#9881;</button>
                                </div>
                                <div id="current_image_batch" class="current_image_batch_core"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Bar -->
    <div class="row g-0">
        <div class="col-12">
            <div class="bottom-info-bar-container d-flex flex-wrap p-1 border-bottom">
                <span class="bottom-info-bar-component p-1 border-start"><span class="other_info_span" id="other_info_span"></span></span>
                <span class="bottom-info-bar-component p-1 border-start"><b class="translate">Model</b>: <select class="form-select form-select-sm auto-dropdown current_model_view" onchange="autoSelectWidth(this)" id="current_model"></select></span>
                <span class="bottom-info-bar-component p-1 border-start" style="display:none;" id="current_presets_wrapper"><span><b class="translate">Current presets</b><span id="preset_info_slot"></span>: </span> <span id="current_preset_list_view"></span></span>
                <span class="bottom-info-bar-component p-1 border-start" style="display:none;" id="current_loras_wrapper"><span class="translate"><b>Current LoRAs</b><span id="lora_info_slot"></span>: </span> <span id="current_lora_list_view"></span></span>
                <span class="bottom-info-bar-component p-1 border-start ms-auto"><span class="num_jobs_span" id="num_jobs_span"></span></span>
            </div>
            <ul class="nav nav-tabs swarm-gen-tab-subnav" data-title="Bottom Bar" data-content="t2i_bottom_bar_content" role="tablist" id="bottombartabcollection">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active translate" id="imagehistorytabclickable" data-bs-toggle="tab" href="#Image-History-Tab" aria-selected="true" role="tab">Image History</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#Presets-Tab" aria-selected="false" tabindex="-1" role="tab">Presets</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#Models-Tab" id="modelstabheader" aria-selected="false" tabindex="-1" role="tab">Models</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#Vaes-Tab" aria-selected="false" tabindex="-1" role="tab">VAEs</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#Loras-Tab" aria-selected="false" tabindex="-1" role="tab">LoRAs</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#Embeddings-Tab" aria-selected="false" tabindex="-1" role="tab">Embeddings</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#ControlNets-Tab" aria-selected="false" tabindex="-1" role="tab">ControlNets</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#Wildcards-Tab" aria-selected="false" tabindex="-1" role="tab">Wildcards</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link translate" data-bs-toggle="tab" href="#Tools-Tab" aria-selected="false" tabindex="-1" role="tab">Tools</a>
                </li>
            </ul>
            <div class="tab-content" id="t2i_bottom_bar_content">
                <div class="tab-pane show active genpage-bottom-tab" id="Image-History-Tab" role="tabpanel">
                    <div class="browser_container" id="image_history"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Presets-Tab" role="tabpanel">
                    <div class="browser_container preset_list_container" id="preset_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Models-Tab" role="tabpanel">
                    <div class="browser_container" id="model_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Vaes-Tab" role="tabpanel">
                    <div class="browser_container" id="vae_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Loras-Tab" role="tabpanel">
                    <div class="browser_container" id="lora_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Embeddings-Tab" role="tabpanel">
                    <div class="browser_container" id="embedding_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="ControlNets-Tab" role="tabpanel">
                    <div class="browser_container" id="controlnet_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Wildcards-Tab" role="tabpanel">
                    <div class="browser_container" id="wildcard_list"></div>
                </div>
                <div class="tab-pane genpage-bottom-tab" id="Tools-Tab" role="tabpanel">
                    <select class="form-select tool-selector" id="tool_selector">
                        <option value="" selected></option>
                    </select>
                    <div class="tool-container" id="tool_container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("GenTabModals.cshtml", Model)
