# C# and related tools
bin/
obj/
.vs/
.vscode/
.idea/
*.user
*.suo
Properties/
.dotnet/
.aspnet/
.local/

# This project
/Output
/Data
/Models
tmp/
/src/Extensions
/dlbackend
.REF_src/
bootstrap-5.3.8-dist/
*.debug
custom-launch-docker.sh
dotnet-install.sh
docker-compose.yml

# Python
__pycache__/
venv/
*.pth
