:root {
    --bs-primary: #0B5ED7;
    --bs-secondary: #6C757D;
    --bs-success: #198754;
    --bs-info: #0DCAF0;
    --bs-warning: #FFC107;
    --bs-danger: #DC3545;
    --bs-light: #F8F9FA;
    --bs-dark: #212529;

    --bs-font-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --bs-body-color: #dee2e6;
    --bs-body-bg: #121212;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

[data-bs-theme="dark"] {
    --bs-body-color: #dee2e6;
    --bs-body-bg: #121212;
    --bs-tertiary-bg: #1e1e1e;
    --bs-border-color: #495057;
    --bs-emphasis-color: #fff;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: #0a58ca;
    --bs-btn-hover-border-color: #0a58ca;
}

.navbar {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
